---
# Front
---

.content-title {
    font-size: 150%
}

.post-title {
    text-align: center;
}

.post-font {
    font-family: 'Fira Code', STKaiti, monospace;   
}

.post {
    margin: 2% 2%;
    padding: 2% 8% 4% 8%;
    border: 1px solid LightGrey;
}

.comment {
    margin: 2% 2%;
    padding: 2% 8% 4% 8%;
}

.post:hover {
    box-shadow: 1px 5px 5px 3px grey;
}

span.post-date {
    float: right;
}

p.post-date {
    text-align: right;
    color: cadetblue;
}

main {
    padding-top: 100px;
}

li.list-group-item :hover {
    color: grey;
    text-decoration: none;
}
figure > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //width: 50%;
}
figure > figcaption {
    text-align: center;
    color: darksalmon;
}

li.borderless { 
    border: 0 none;
}
.categories.ul {
    text-align: center;
}
.category {
    color: cornflowerblue;
}

.title-category {
    list-style-type:none;
    display:inline; 
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    padding: .15em 4px;
    background-color: #bfd4f2;
    color: rgb(94, 187, 8);
}

.title-categories {
    float: right;
    margin-right: 10px;
}