---
# Front
---

.content-title {
    font-size: 150%
}

.post-title {
    text-align: center;
}

.post-font {
    font-family: 'Fira Code', STKaiti, monospace;   
}

.post .comment {
    margin: 0% 0%;
    padding: 2% 8% 4% 8%;
    border: 1px solid LightGrey;
}
.post:hover {
    box-shadow: 1px 5px 5px 3px grey;
}

span.post-date {
    float: right;
}

p.post-date {
    text-align: right;
    color: cadetblue;
}

main {
    padding-top: 100px;
}

li.list-group-item :hover {
    color: grey;
    text-decoration: none;
}
figure > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //width: 50%;
}
figure > figcaption {
    text-align: center;
    color: darksalmon;
}

li.borderless { 
    border: 0 none;
}
.categories.ul {
    text-align: center;
}
.category {
    color: cornflowerblue;
}
